.header-box {
    margin-bottom: 24px;
    display: flex;
    align-items: center;
    .title-box {
        font-size: 24px;
        margin-right: 8px;
    }
    .tag-box {
        font-size: 14px;
        background-color: #fff7e6;
        color: #d46b08;
        padding: 0 8px;
    }
}
.control-box {
    display: flex;
    justify-content: space-between;
    .nav-box {
        .ant-menu-light {
            border-radius: 10px;
            background: #f1f3f5;
        }
    }
}
