.ant-menu {
    background-color: #455e49;
    color: #fff;
}

.logo {
    background-color: #455e49;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
        // display: inline-block;
        height: 60px;
        width: 60px;
        border-radius: 20px;
        margin: 5px auto;
    }
}

:deep(.ant-menu-item-icon) {
    font-size: 18px !important;
}
:deep(.ant-menu-item-selected) {
    color: #fdd663;
    font-size: 19px;
    font-weight: bold;
}

:deep(.ant-menu-submenu-selected > .ant-menu-submenu-title) {
    font-size: 19px;
    color: #fdd663;
    font-weight: bold;
}

:deep(.ant-layout-sider-trigger) {
    background-color: #253c29;
    color: #fff;
    width: 225px;
}

:deep(.ant-menu-light:not(.ant-menu-horizontal) .ant-menu-item:active) {
    font-size: 20px;
    color: #fdd663;
    background-color: #253c29;
}

// 必须通过父节点透传
.ant-menu :deep(.ant-menu-item:not(.ant-menu-item-selected):active) {
    background-color: #253c29;
}
