.Layout-box {
    min-height: 100vh;
}
.ant-layout-header {
    padding: 0;
    background-color: #455e49;
}
.ant-layout-sider {
    overflow: hidden;
    position: fixed;
    height: 100vh;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: #455e49;
}
.ant-layout-content {
    margin-left: 200px;
    overflow: initial;
    background-color: #fff;
    padding: 24px 16px;
}

:deep(.ant-layout-sider-trigger) {
    background-color: #253c29;
    color: #fff;
    width: 225px;
}
:deep(.ant-menu-item-selected, .ant-menu-item-active, .ant-menu-light:not(.ant-menu-horizontal) .ant-menu-item:active, .ant-menu-light:not(.ant-menu-horizontal) .ant-menu-submenu-title:active) {
    background-color: #253c29;
}
:deep(.ant-menu-light:not(.ant-menu-horizontal) .ant-menu-item:active) {
    font-size: 20px;
}
